<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.gateway.mapper.FuUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.FuUser">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="user_name" property="userName" />
        <result column="nick_name" property="nickName" />
        <result column="pass_word" property="passWord" />
        <result column="percustomer_id" property="percustomerId" />
        <result column="is_lock" property="isLock" />
        <result column="is_vip" property="isVip" />
        <result column="login_fail_time" property="loginFailTime" />
        <result column="state" property="state" />
        <result column="user_source" property="userSource" />
        <result column="email" property="email" />
        <result column="mobile_phone" property="mobilePhone" />
        <result column="is_initpwd" property="isInitpwd" />
        <result column="lockdate" property="lockdate" />
        <result column="locktime" property="locktime" />
        <result column="agentcode" property="agentcode" />
        <result column="managecom" property="managecom" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="remark" property="remark" />
        <result column="register_source" property="registerSource" />
        <result column="operator" property="operator" />
        <result column="operatorcom" property="operatorcom" />
        <result column="makedate" property="makedate" />
        <result column="maketime" property="maketime" />
        <result column="modifydate" property="modifydate" />
        <result column="modifytime" property="modifytime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, login_name, user_name, nick_name, pass_word, percustomer_id, is_lock, is_vip, login_fail_time, state, user_source,
          email, mobile_phone, is_initpwd, lockdate, locktime, agentcode, managecom, province, city, remark, register_source,
          operator, operatorcom, makedate, maketime, modifydate, modifytime
    </sql>


    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM user WHERE username=#{userName}
    </select>

</mapper>
