<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcbatchpaybankinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcbatchpaybankinfo">
        <id column="EnsureCode" property="EnsureCode" />
        <result column="PerNo" property="PerNo" />
        <result column="SignSN" property="SignSN" />
        <result column="OrderNo" property="OrderNo" />
        <result column="Name" property="Name" />
        <result column="IdType" property="IdType" />
        <result column="IdNo" property="IdNo" />
        <result column="BankAccount" property="BankAccount" />
        <result column="PayBankCode" property="PayBankCode" />
        <result column="PayBankName" property="PayBankName" />
        <result column="ReservePhone" property="ReservePhone" />
        <result column="ValidateCode" property="ValidateCode" />
        <result column="IsSidned" property="IsSidned" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="EndDate" property="EndDate" />
        <result column="EndTime" property="EndTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
    </resultMap>

</mapper>
