<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FccontractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fccontract">
        <id column="ContractSN" property="ContractSN" />
        <result column="GrpNo" property="GrpNo" />
        <result column="PersonID" property="PersonID" />
        <result column="Location" property="Location" />
        <result column="Address" property="Address" />
        <result column="Zipcode" property="Zipcode" />
        <result column="Receiver" property="Receiver" />
        <result column="TelPhone" property="TelPhone" />
        <result column="Remark" property="Remark" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="CustomType" property="CustomType" />
        <result column="EnsureCode" property="EnsureCode" />
        <result column="ApplicantName" property="ApplicantName" />
    </resultMap>

</mapper>
