<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcedorplaninfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcedorplaninfo">
        <id column="edorPlanSN" property="edorPlanSN" />
        <result column="planCode" property="planCode" />
        <result column="batch" property="batch" />
        <result column="planName" property="planName" />
        <result column="planObject" property="planObject" />
        <result column="riskName" property="riskName" />
        <result column="riskCode" property="riskCode" />
        <result column="dutyName" property="dutyName" />
        <result column="dutyCode" property="dutyCode" />
        <result column="Amnt" property="Amnt" />
        <result column="prem" property="prem" />
        <result column="GetLimit" property="GetLimit" />
        <result column="GetRatio" property="GetRatio" />
        <result column="spare1" property="spare1" />
        <result column="spare2" property="spare2" />
        <result column="spare3" property="spare3" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="GetLimitType" property="GetLimitType" />
    </resultMap>

</mapper>
