<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcedorhomogeneousriskinsuredoldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcedorhomogeneousriskinsuredold">
        <id column="HomogeneousRiskInsuredSNOld" property="HomogeneousRiskInsuredSNOld" />
        <result column="GrpContNo" property="GrpContNo" />
        <result column="EdorAppNo" property="EdorAppNo" />
        <result column="Batch" property="Batch" />
        <result column="PlanCode" property="PlanCode" />
        <result column="GrpNo" property="GrpNo" />
        <result column="oldName" property="oldName" />
        <result column="oldIdType" property="oldIdType" />
        <result column="oldIdNo" property="oldIdNo" />
        <result column="oldSex" property="oldSex" />
        <result column="oldBirthday" property="oldBirthday" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="ZtaliDate" property="ZtaliDate" />
        <result column="FeeFrom" property="FeeFrom" />
    </resultMap>

</mapper>
