<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcedorhomogeneousriskinsuredMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcedorhomogeneousriskinsured">
        <id column="HomogeneousRiskInsuredSN" property="HomogeneousRiskInsuredSN" />
        <result column="GrpContNo" property="GrpContNo" />
        <result column="EdorAppNo" property="EdorAppNo" />
        <result column="Batch" property="Batch" />
        <result column="ContNo" property="ContNo" />
        <result column="PlanCode" property="PlanCode" />
        <result column="TotalPrem" property="TotalPrem" />
        <result column="GrpNo" property="GrpNo" />
        <result column="newName" property="newName" />
        <result column="newNativeplace" property="newNativeplace" />
        <result column="newIdType" property="newIdType" />
        <result column="newIdNo" property="newIdNo" />
        <result column="newIdTypestartDate" property="newIdTypestartDate" />
        <result column="newIdTypeEndDate" property="newIdTypeEndDate" />
        <result column="newSex" property="newSex" />
        <result column="newBirthday" property="newBirthday" />
        <result column="newMobilePhone" property="newMobilePhone" />
        <result column="InsuredRelation" property="InsuredRelation" />
        <result column="newJobType" property="newJobType" />
        <result column="newJobCode" property="newJobCode" />
        <result column="newJoinMedProtect" property="newJoinMedProtect" />
        <result column="PayMethod" property="PayMethod" />
        <result column="ComPayment" property="ComPayment" />
        <result column="PerPayment" property="PerPayment" />
        <result column="DebitPayBank" property="DebitPayBank" />
        <result column="DebitPayCode" property="DebitPayCode" />
        <result column="ReservedMobile" property="ReservedMobile" />
        <result column="DebitPayName" property="DebitPayName" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="sorCode" property="sorCode" />
        <result column="plusEffectDate" property="plusEffectDate" />
        <result column="address" property="address" />
    </resultMap>

</mapper>
