<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcensurebeneficiaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcensurebeneficiary">
        <id column="beSerialNo" property="beSerialNo" />
        <result column="ensureCode" property="ensureCode" />
        <result column="decInsuredSn" property="decInsuredSn" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="idType" property="idType" />
        <result column="idNo" property="idNo" />
        <result column="idNoStartDate" property="idNoStartDate" />
        <result column="idNoEndDate" property="idNoEndDate" />
        <result column="nativePlace" property="nativePlace" />
        <result column="mobilePhone" property="mobilePhone" />
        <result column="address" property="address" />
        <result column="beneficiary" property="beneficiary" />
        <result column="shareHolding" property="shareHolding" />
        <result column="birthday" property="birthday" />
        <result column="zipCode" property="zipCode" />
        <result column="bankCode" property="bankCode" />
        <result column="bankAccNo" property="bankAccNo" />
        <result column="accName" property="accName" />
        <result column="iDTime" property="iDTime" />
        <result column="rgtAddress" property="rgtAddress" />
        <result column="grpName" property="grpName" />
        <result column="grpAddress" property="grpAddress" />
        <result column="OccupationCode" property="OccupationCode" />
    </resultMap>

</mapper>
