<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcensureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcensure">
        <id column="EnsureCode" property="EnsureCode" />
        <result column="GrpNo" property="GrpNo" />
        <result column="EnsureName" property="EnsureName" />
        <result column="EnsureType" property="EnsureType" />
        <result column="AppntYear" property="AppntYear" />
        <result column="CvaliDate" property="CvaliDate" />
        <result column="EnsureState" property="EnsureState" />
        <result column="PolicyEndDate" property="PolicyEndDate" />
        <result column="AppDate" property="AppDate" />
        <result column="InsuredNumber" property="InsuredNumber" />
        <result column="TotalPrem" property="TotalPrem" />
        <result column="StartAppntDate" property="StartAppntDate" />
        <result column="EndAppntDate" property="EndAppntDate" />
        <result column="PlanType" property="PlanType" />
        <result column="PolicyState" property="PolicyState" />
        <result column="PremCalType" property="PremCalType" />
        <result column="PayType" property="PayType" />
        <result column="ClientNo" property="ClientNo" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="ResetExplain" property="ResetExplain" />
        <result column="RevokeState" property="RevokeState" />
        <result column="AddFamilySign" property="AddFamilySign" />
        <result column="MakeInvoice" property="MakeInvoice" />
        <result column="healthServices" property="healthServices" />
        <result column="TFReturn" property="TFReturn" />
    </resultMap>

</mapper>
