<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcfiledocmainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcfiledocmain">
        <id column="DocID" property="DocID" />
        <result column="DocType" property="DocType" />
        <result column="FileName" property="FileName" />
        <result column="FileSaveName" property="FileSaveName" />
        <result column="FileSuffix" property="FileSuffix" />
        <result column="FileURL" property="FileURL" />
        <result column="FilePath" property="FilePath" />
        <result column="ValidFlag" property="ValidFlag" />
        <result column="Remark" property="Remark" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="Type_id" property="typeId" />
    </resultMap>

</mapper>
