<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcgrpapplicantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcgrpapplicant">
        <id column="GrpAppNo" property="GrpAppNo" />
        <result column="GrpNo" property="GrpNo" />
        <result column="GrpName" property="GrpName" />
        <result column="GrpAddRess" property="GrpAddRess" />
        <result column="ZipCode" property="ZipCode" />
        <result column="UnifiedsociCode" property="UnifiedsociCode" />
        <result column="GrpIdType" property="GrpIdType" />
        <result column="GrpIdNo" property="GrpIdNo" />
        <result column="GrpType" property="GrpType" />
        <result column="AccName" property="AccName" />
        <result column="grpBankCode" property="grpBankCode" />
        <result column="grpBankAccNo" property="grpBankAccNo" />
        <result column="Peoples" property="Peoples" />
        <result column="CorporationMan" property="CorporationMan" />
        <result column="telphone" property="telphone" />
        <result column="regaddress" property="regaddress" />
        <result column="Email" property="Email" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="Operator" property="Operator" />
        <result column="MakeTime" property="MakeTime" />
        <result column="MakeDate" property="MakeDate" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
    </resultMap>

</mapper>
