<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcgrpquestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcgrpquestion">
        <id column="SerialNum" property="SerialNum" />
        <result column="BigType" property="BigType" />
        <result column="SmallType" property="SmallType" />
        <result column="Question" property="Question" />
        <result column="Answer" property="Answer" />
    </resultMap>

</mapper>
