<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FchealthdesigndetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fchealthdesigndetail">
        <id column="HealthDesignNo" property="HealthDesignNo" />
        <result column="RiskCode" property="RiskCode" />
        <result column="GradeLevelTopLimit" property="GradeLevelTopLimit" />
        <result column="GradeLevelLowLimit" property="GradeLevelLowLimit" />
        <result column="AmntTopLimit" property="AmntTopLimit" />
        <result column="AmntLowLimit" property="AmntLowLimit" />
        <result column="AgeTopLimit" property="AgeTopLimit" />
        <result column="AgeLowLimit" property="AgeLowLimit" />
        <result column="Sex" property="Sex" />
        <result column="InsuredType" property="InsuredType" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
    </resultMap>

</mapper>
