<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcorderpayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcorderpay">
        <id column="PayNo" property="PayNo" />
        <result column="OrderNo" property="OrderNo" />
        <result column="BatchNo" property="BatchNo" />
        <result column="PayType" property="PayType" />
        <result column="TotalPrem" property="TotalPrem" />
        <result column="GrpPrem" property="GrpPrem" />
        <result column="PersonPrem" property="PersonPrem" />
        <result column="TotalHealthCost" property="TotalHealthCost" />
        <result column="GrpHealthCost" property="GrpHealthCost" />
        <result column="PersonHealthCost" property="PersonHealthCost" />
        <result column="IsValid" property="IsValid" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="TransSource" property="TransSource" />
        <result column="TransCode" property="TransCode" />
        <result column="TransState" property="TransState" />
        <result column="VCorpAct" property="VCorpAct" />
        <result column="Amount" property="Amount" />
        <result column="Abstract_" property="abstract" />
        <result column="PayInfoCode" property="PayInfoCode" />
        <result column="PayInfo" property="PayInfo" />
        <result column="PayUrl" property="PayUrl" />
        <result column="PayUrlExpirationTime" property="PayUrlExpirationTime" />
        <result column="PayMadeDate" property="PayMadeDate" />
        <result column="NoticeState" property="NoticeState" />
    </resultMap>

</mapper>
