<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcorderpaymethodMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcorderpaymethod">
        <id column="PayMethodNo" property="PayMethodNo" />
        <result column="GrpOrderNo" property="GrpOrderNo" />
        <result column="OrderNo" property="OrderNo" />
        <result column="AddBatchSN" property="AddBatchSN" />
        <result column="PremSource" property="PremSource" />
        <result column="HealthSource" property="HealthSource" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
    </resultMap>

</mapper>
