<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcorderrefundbankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcorderrefundbank">
        <id column="RefundNo" property="RefundNo" />
        <result column="OrderNo" property="OrderNo" />
        <result column="BatchNo" property="BatchNo" />
        <result column="PayNo" property="PayNo" />
        <result column="RefundType" property="RefundType" />
        <result column="RefundAmount" property="RefundAmount" />
        <result column="RefundState" property="RefundState" />
        <result column="RefundOriInfoCode" property="RefundOriInfoCode" />
        <result column="BankCode" property="BankCode" />
        <result column="BankAccNo" property="BankAccNo" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="Province" property="Province" />
    </resultMap>

</mapper>
