<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcorderlocusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcorderlocus">
        <id column="OrderLocusSN" property="OrderLocusSN" />
        <result column="OrderNo" property="OrderNo" />
        <result column="OrderStatus" property="OrderStatus" />
        <result column="ErrorMsg" property="ErrorMsg" />
        <result column="Remark" property="Remark" />
        <result column="IsQuestDoc" property="IsQuestDoc" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
    </resultMap>

</mapper>
