<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcpersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcperson">
        <id column="PersonID" property="PersonID" />
        <result column="Name" property="Name" />
        <result column="Sex" property="Sex" />
        <result column="nativeplace" property="nativeplace" />
        <result column="BirthDate" property="BirthDate" />
        <result column="IDType" property="IDType" />
        <result column="IDNo" property="IDNo" />
        <result column="idTypestartDate" property="idTypestartDate" />
        <result column="idTypeEndDate" property="idTypeEndDate" />
        <result column="LevelCode" property="LevelCode" />
        <result column="ServiceTerm" property="ServiceTerm" />
        <result column="Retirement" property="Retirement" />
        <result column="MobilePhone" property="MobilePhone" />
        <result column="Phone" property="Phone" />
        <result column="InsuredRelation" property="InsuredRelation" />
        <result column="OccupationType" property="OccupationType" />
        <result column="OccupationCode" property="OccupationCode" />
        <result column="JoinMedProtect" property="JoinMedProtect" />
        <result column="MedProtectType" property="MedProtectType" />
        <result column="EMail" property="EMail" />
        <result column="ZipCode" property="ZipCode" />
        <result column="Address" property="Address" />
        <result column="idImage1" property="idImage1" />
        <result column="idImage2" property="idImage2" />
        <result column="OpenBank" property="OpenBank" />
        <result column="OpenAccount" property="OpenAccount" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="sorCode" property="sorCode" />
    </resultMap>

</mapper>
