<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcperregistdayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcperregistday">
        <id column="RegistDayNo" property="RegistDayNo" />
        <result column="EnsureCode" property="EnsureCode" />
        <result column="AddBatchSN" property="AddBatchSN" />
        <result column="PerNo" property="PerNo" />
        <result column="OpenDay" property="OpenDay" />
        <result column="CloseDay" property="CloseDay" />
        <result column="PersonType" property="PersonType" />
        <result column="IsValidy" property="IsValidy" />
        <result column="Validydate" property="Validydate" />
        <result column="EndDate" property="EndDate" />
        <result column="ValidydateType" property="ValidydateType" />
        <result column="RegistDayToManNo" property="RegistDayToManNo" />
        <result column="StaffGrpPrem" property="StaffGrpPrem" />
        <result column="FamilyGrpPrem" property="FamilyGrpPrem" />
        <result column="StudentGrpPrem" property="StudentGrpPrem" />
        <result column="Operator" property="Operator" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="SpouseGrpPrem" property="SpouseGrpPrem" />
        <result column="ChildrenGrpPrem" property="ChildrenGrpPrem" />
        <result column="GrpPrem" property="GrpPrem" />
        <result column="SelfPrem" property="SelfPrem" />
        <result column="FamPremType" property="FamPremType" />
        <result column="LockState" property="LockState" />
    </resultMap>

</mapper>
