<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FcperinfotempMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.Fcperinfotemp">
        <id column="PerTempNo" property="PerTempNo" />
        <result column="EnsureCode" property="EnsureCode" />
        <result column="AddBatchSN" property="AddBatchSN" />
        <result column="CPerNo" property="CPerNo" />
        <result column="GrpNo" property="GrpNo" />
        <result column="StaffNo" property="StaffNo" />
        <result column="LevelCode" property="LevelCode" />
        <result column="department" property="department" />
        <result column="Name" property="Name" />
        <result column="Sex" property="Sex" />
        <result column="IDType" property="IDType" />
        <result column="IDNo" property="IDNo" />
        <result column="idTypestartDate" property="idTypestartDate" />
        <result column="idTypeEndDate" property="idTypeEndDate" />
        <result column="BirthDay" property="BirthDay" />
        <result column="Phone" property="Phone" />
        <result column="MobilePhone" property="MobilePhone" />
        <result column="InsuredRelation" property="InsuredRelation" />
        <result column="OccupationType" property="OccupationType" />
        <result column="OccupationCode" property="OccupationCode" />
        <result column="JoinMedProtect" property="JoinMedProtect" />
        <result column="MedProtectType" property="MedProtectType" />
        <result column="Email" property="Email" />
        <result column="ZipCode" property="ZipCode" />
        <result column="Address" property="Address" />
        <result column="Nativeplace" property="Nativeplace" />
        <result column="ServiceTerm" property="ServiceTerm" />
        <result column="Retirement" property="Retirement" />
        <result column="ImpotStatus" property="ImpotStatus" />
        <result column="SubStaus" property="SubStaus" />
        <result column="ErrorMsg" property="ErrorMsg" />
        <result column="OperatorCom" property="OperatorCom" />
        <result column="Operator" property="Operator" />
        <result column="MakeDate" property="MakeDate" />
        <result column="MakeTime" property="MakeTime" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyTime" property="ModifyTime" />
        <result column="DefaultPlan" property="DefaultPlan" />
        <result column="openbank" property="openbank" />
        <result column="OpenAccount" property="OpenAccount" />
        <result column="StaffGrpPrem" property="StaffGrpPrem" />
        <result column="FamilyGrpPrem" property="FamilyGrpPrem" />
        <result column="StudentGrpPrem" property="StudentGrpPrem" />
        <result column="SpouseGrpPrem" property="SpouseGrpPrem" />
        <result column="ChildrenGrpPrem" property="ChildrenGrpPrem" />
        <result column="GrpPrem" property="GrpPrem" />
        <result column="SelfPrem" property="SelfPrem" />
        <result column="Resident_iden" property="residentIden" />
        <result column="FamPremType" property="FamPremType" />
        <result column="EdorStartDate" property="EdorStartDate" />
        <result column="sorCode" property="sorCode" />
    </resultMap>

</mapper>
