<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.edor.mapper.FdcodeCopyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.common.entity.first.FdcodeCopy">
        <id column="CodeType" property="CodeType" />
        <result column="CodeKey" property="CodeKey" />
        <result column="CodeName" property="CodeName" />
        <result column="CodeDesc" property="CodeDesc" />
        <result column="OtherSign" property="OtherSign" />
        <result column="CodeOrder" property="CodeOrder" />
        <result column="CoreCode" property="CoreCode" />
        <result column="CoreName" property="CoreName" />
    </resultMap>

</mapper>
